$Black: #000000;
$YellowLight: #FFDB4D;
$YellowDark: #FFD11A;
$White: #FFFFFF;
$LightGray: #FAFAFA;
$Gray: #D6D6D6;
$DarkGray: #989898;
$Blue: #406ABF;

$ShadowGray: #E6E6E6;
$ShadowWhite: #FFFFFF;

$duration: 0.2s;