@import './variables';
@import './normalize';

@import './components/all';

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 2000px;
}