* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 20px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
}

.button {
  cursor: pointer;
  width: 128px;
  height: 36px;
  padding: 7px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  transition: background-color 0.2s ease-out;
}
.button.primary {
  background-color: #FFDB4D;
  border: 0;
}
.button.primary:hover {
  background-color: #FFD11A;
}
.button.secondary {
  background-color: #FFFFFF;
  border: solid #D6D6D6 1px;
}
.button.secondary:hover {
  border-color: #989898;
}
.button.secondary.dropdown {
  padding: 7px 14px;
}
.button.secondary.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 10px;
}
.button.secondary.menu img {
  width: 16px;
  height: 16px;
}
.button.nav {
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 0;
  padding: 8px;
}
.button.nav img {
  width: 20px;
  height: 20px;
}
.button.nav.page {
  background-color: #FFFFFF;
  padding: 6px;
}
.button.nav.page img {
  width: 24px;
  height: 24px;
}
.button.nav:hover {
  background-color: #D6D6D6;
}

.dropdown_wrap {
  position: relative;
}
.dropdown_wrap .icon {
  top: 9px;
  left: 98px;
  pointer-events: none;
  position: absolute;
  width: 16px;
  height: 16px;
}

.checkbox_wrap {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 7px 0;
}
.checkbox_wrap label {
  padding-bottom: 2px;
}
.checkbox_wrap .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox_wrap .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox_wrap .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #989898;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px;
}
.checkbox_wrap .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #FFDB4D;
}
.checkbox_wrap .custom-checkbox:active + label::before {
  background-color: #FFD11A;
  border-color: #FFD11A;
}
.checkbox_wrap .custom-checkbox:checked + label::before {
  background-color: #FFD11A;
  border-color: #FFD11A;
  background-image: url("../../icon/Icon=check.svg");
}

.inline {
  position: relative;
  width: 504px;
  height: 64px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  transition: all 0.2s ease-out;
}
.inline .title {
  margin-bottom: 8px;
}
.inline .dropdown {
  cursor: pointer;
  width: 100%;
  height: 36px;
  background-color: #FFFFFF;
  border: solid 1px #D6D6D6;
  border-radius: 4px;
  padding: 7px 12px 9px 16px;
}
.inline .dropdown:hover {
  background-color: #FAFAFA;
}
.inline .icon {
  top: 37px;
  left: 476px;
  pointer-events: none;
  position: absolute;
  width: 16px;
  height: 16px;
}

.menuItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 288px;
  height: 40px;
  padding: 4px;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  background-color: #FAFAFA;
  transition: background-color 0.2s ease-out;
}
.menuItem:hover {
  background-color: #D6D6D6;
}
.menuItem img {
  width: 20px;
  height: 20px;
}
.menuItem .title {
  gap: 10px;
}

.tab {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  background-color: #FAFAFA;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #989898;
  transition: all 0.15s ease-out;
}
.tab:hover {
  background-color: #D6D6D6;
}
.tab.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}
.tab.home img {
  width: 16px;
  height: 16px;
}
.tab.setting {
  height: 36px;
  position: relative;
  padding: 9px 12px 10px;
  align-items: center;
}
.tab.setting:hover .close {
  display: flex;
  box-shadow: -8px 0px 8px 0px #E6E6E6;
}
.tab.setting .close {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #D6D6D6;
  width: 36px;
  height: 36px;
  top: 0px;
  right: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #989898;
}
.tab.setting .close img {
  padding: 6px 8px 4px;
}
.tab.setting.active {
  background-color: #FFFFFF;
  border-width: 0 1px 0 0;
}
.tab.setting.active .close {
  background-color: #FFFFFF;
  border-width: 0;
}
.tab.setting.active:hover .close {
  display: flex;
  box-shadow: -8px 0px 8px 0px #FFFFFF;
}

.tab_a {
  height: 36px;
  text-decoration: none;
  color: #406ABF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #FFFFFF;
  padding: 7px 16px;
  border-radius: 4px;
}
.tab_a.active {
  color: #000000;
  background-color: #D6D6D6;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 2000px;
}

/*# sourceMappingURL=styles.css.map */
